body {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    width:500vh;
    margin:0;
    padding:0;
}
body > header {
    position:absolute;
    background-color:#d52a54;
    height:5em;
    width:100%;
    margin:0;
    padding:0;
    position: fixed;
    z-index: 1000;
    
    
}
body > header > nav > ul {
    list-style:none;
}
body > header > nav > ul > li:first-of-type {
    
    position:absolute;
    top:1em;
    left:30em;
   
}
body > header > nav > ul > li:nth-of-type(2) {
 
    position:absolute;
    top:1em;
    left:40em;
}
body > header > nav > ul > li:nth-of-type(3) {
    
    position:absolute;
    top:1em;
    left:50em;
}
body > header > nav > ul > li:nth-of-type(4) {
    
    position:absolute;
    top:1em;
    left:60em;
}

body > header > nav > ul > li:last-of-type {
  
    position:absolute;
    top:1em;
    left:70em;
}
body > main > section:first-of-type {
    position:absolute;
    top:5em;
    width:100%;
    height: 45em;
    background-image: url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/teacher.jpeg);
    background-size: cover;
    margin:0;
    padding:0;
}
h1 {
    font-size:3em;
    position:absolute;
    top:5.7em;
    left:5.1em;
    color:#ffffff;
}
body > main > section:first-of-type > p {
    font-size:3em;
    position:absolute;
    top:7em;
    left:5.1em;
    color:#ffffff;
}
h1 > span {
    color:#d52a54;
}
body > main > section:first-of-type > p > span {
    color:#d52a54;
}
body > main > section:nth-of-type(2){
    height: 50em;
    background-color:#ffffff;
    position:absolute;
    top:50em;
}
body > main > section:nth-of-type(2) > h2 {
    position:absolute;
    top:2em;
    left:27em;
    width:6em;
}
body > main > section:nth-of-type(2) > p:first-of-type {
    position:absolute;
    top:12em;
    left:15em;
    height:5em;
    width:25em;
}
body > main > section:nth-of-type(2) > p:nth-of-type(2) {
    position:absolute;
    top:25em;
    left:15em;
    height:5em;
    width:25em;
}
body > main > section:nth-of-type(2) > p:nth-of-type(3) {
    position:absolute;
    top:12em;
    left:45em;
    height:5em;
    width:25em;
}
body > main > section:nth-of-type(2) > p:last-of-type {
    position:absolute;
    top:25em;
    left:45em;
    height:5em;
    width:25em;
}
body > main > section:nth-of-type(3){
    height: 50em;
    width:100%;
    background-color:#0b6ccd;
    position:absolute;
    top:100em;
}
body > main > section:nth-of-type(3) > h2:first-of-type {
    color:#ffffff;
    position:absolute;
    font-size:2em;
    top:2.5em;
    left:18em;
}
body > main > section:nth-of-type(3) > section:first-of-type {
    background-color:#ffffff;
    position:absolute;
    top:15em;
    left:15em;
    height:15em;
    width:15em;
    border-radius:5px;
    text-align:center;
}
body > main > section:nth-of-type(3) > section:first-of-type > h3:first-of-type {
    background-image: url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/code.jpeg);
    background-size: cover;
    margin:0;
    padding-top:25px;
    padding-bottom:0px;
    color:#ffffff;
    height:3em;
    text-align:center;
    width:12.8em;
    border-radius:5px 5px 0 0;
    
}
body > main > section:nth-of-type(3) > section:nth-of-type(2) {
    background-color:#ffffff;
    position:absolute;
    top:15em;
    left:35em;
    height:15em;
    width:15em;
    border-radius:5px;
    text-align:center;
    
}
body > main > section:nth-of-type(3) > section:nth-of-type(2) > h3:first-of-type {
    background-image: url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/design.jpeg);
    background-size: cover;
    margin:0;
    padding-top:25px;
    padding-bottom:0px;
    color:#ffffff;
    height:3em;
    text-align:center;
    width:12.8em;
    border-radius:5px 5px 0 0;
    
}
body > main > section:nth-of-type(3) > section:last-of-type {
    background-color:#ffffff;
    position:absolute;
    top:15em;
    left:55em;
    height:15em;
    width:15em;
    border-radius:5px;
    text-align:center;
}
body > main > section:nth-of-type(3) > section:last-of-type > p:first-of-type {
    padding:5px;
    text-align:center;
    
}
body > main > section:nth-of-type(3) > section:nth-of-type(2) > p:first-of-type {
    padding:5px;
    text-align:center;
    
}
body > main > section:nth-of-type(3) > section:first-of-type > p:first-of-type {
    padding:5px;
    text-align:center;
    
}
body > main > section:nth-of-type(3) > section:last-of-type > h3:first-of-type {
    background-image: url(	https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/management.jpeg);
    margin:0;
    padding-top:25px;
    padding-bottom:0px;
    color:#ffffff;
    height:3em;
    text-align:center;
    width:12.8em;
    border-radius:5px 5px 0 0;
    
}
body > main > section:last-of-type{
    height: 50em;
    background-color:#ffffff;
    position:absolute;
    top:150em;
}

body > main > section:last-of-type > section > header{
    text-align:center;
}
body > main > section:last-of-type > section > p > span{
    color:#1e5d62;
}
body > main > section:last-of-type > section > p {
    padding:5px;
    color:#000000;
}



body > main > section:last-of-type > section:first-of-type {
    position:absolute;
    top:15em;
    left:10em;
    height:25em;
    width:18em;
    border-radius:15px;
    text-align:center;
    border: 1px solid #1e5d62;
}

body > main > section:last-of-type > section:nth-of-type(2) {
    position:absolute;
    top:15em;
    left:30em;
    height:25em;
    width:18em;
    border-radius:15px;
    text-align:center;
    border: 1px solid #1e5d62;
}

body > main > section:last-of-type > section:nth-of-type(3) {
    position:absolute;
    top:15em;
    left:50em;
    height:25em;
    width:18em;
    border-radius:15px;
    text-align:center;
    border: 1px solid #1e5d62;
}
			
body > main > section:last-of-type > section:last-of-type {
    position:absolute;
    top:15em;
    left:70em;
    height:25em;
    width:18em;
    border-radius:15px;
    text-align:center;
    border: 1px solid #1e5d62;
}
body > main > section:last-of-type {
    font-family: 'Bitter', serif;
    font-weight:bold;
}
body > main > section:last-of-type > h2:first-of-type {
    font-size:2.6em;
    position:absolute;
    top:1.4em;
    left:16em;
    font-family: 'Bitter', serif;
}
body > footer {
    height: 50em;
    background-color:#326584;
    position:absolute;
    top:200em;
    width:100%;
}
body > footer > section:first-of-type {
    height:50em;
    width:50%;
    position:absolute;
    top:12em;
    left:20em;
    
}
body > footer > section:last-of-type {
    height:26em;
    width:50%;
    position:absolute;
    top:10em;
    left:43em;
    border-left:1px solid;
    padding:2em;
    
}	
body > footer > h2:first-of-type {
    position:absolute;
    top:3em;
    left:25em;
    color:#ffffff;
}
body > footer {
    color:white;
    font-family: 'Open Sans', sans-serif;
}
body > footer > section:last-of-type > form
> input {
    background-color:#c5d4de;
    border-radius:2px;
    border:none;
    font-size:25px;
}
body > footer > section:last-of-type > form
> input[type='textarea']{
    height:80px;
}
body > footer > section:last-of-type > form
> input[type='submit'] {
    background-color:#ffffff;
    color:#326584;
    border-radius:2px;
    border:none;
    font-size:15px;
    padding:5px;
    height:25px;
    width:120px;
}







